<html>
<p>
<%= link_to 'Continue to Users', controller: 'users' %>
<br>
<a class="btn btn-success" href="/oauth/callback" role="button" id="connect-button" style= "color: white">Add new codes</a>
</p>
</html>